<nav class="navbar">
    <div class="navbar-left">
        <h1 class="navbar-heading">HireMe Now!</h1>
        <ul class="navbar-menu">
            <li><a href="#">Find Jobs</a></li>
            <li><a href="#">Browse Companies</a></li>
        </ul>
    </div>
    <div class="navbar-right">
        <div class="navbar-login">
            <a href="#">Login</a>
        </div>
        <div class="vertical-line"></div>
        <div class="navbar-signup">
            <a href="#">Sign Up</a>
        </div>
    </div>
</nav>

<div class="header-content">
    <h1 class="main-heading">Find your <span style="color: rgb(0, 174, 255);">dream job</span></h1>
    <img class="decoration-img" src="assets\images\Group.png">
    <h2 class="sub-heading">Find your next career at companies like HubSpot, Nike, and Dropbox</h2>

    <div class="search-bar">
        <div class="search-option">
            <img src="assets\images\Icon (2).png" alt="Option 1 Icon">
            <input type="text" placeholder="Job title or keyword">
        </div>
        <div class="vertical-line"></div>
        <div class="search-option" id="search-location">
            <img src="assets\images\Icon (3).png" alt="Option 2 Icon">
            <input type="text" placeholder="Location">
        </div>
        <button class="search-button">Search</button>
    </div>

    <h4 class="popular">Popular : UI Designer, UX Researcher, Android, Admin</h4>



</div>