<div class="container">

    <div class="search">
        <img src="assets\images\search-normal.png">
        <input type="search" class="search-input" placeholder="Search for Jobs">
    </div>

    <div class="location">
        <img src="assets\images\location.png">
        <select class="dropdown-list">
            <option value="option1">Location</option>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
        </select>
    </div>

    <div class="filter">
        <img src="assets\images\setting-4.png">
    </div>

</div>


<div class="all">
    <div class="jobs" *ngFor="let job of jobs">
        <div class="job" *ngIf="job.isFeatured">
            <div class="job-header">
                <div class="company">
                    <img [src]="job.companyLogo" alt="Company Logo">
                    <div class="text-container">
                        <p>{{ job.designation }}</p>
                        <p><span style="color: deepskyblue;">{{ job.companyName }}</span> &bull;<span
                                style=" color: gray;">London</span></p>
                    </div>
                </div>
                <div class="save">
                    <img src="assets\images\save.png">
                </div>
            </div>
            <div class="job-text">
                <p>We are looking for a UI/UX Designer to turn our software into easy-to-use products for our clients.</p>
            </div>
            <div class="job-footer">
                <div class="pills">
                    <p>{{ job.text1 }}</p>
                    <p>{{ job.text2 }}</p>
                    <p>{{ job.text3 }}</p>
                    <p>{{ job.text4 }}</p>
                    <p>{{ job.text5 }}</p>
                </div>
                <div class="apply">
                    <button type="submit">Apply Job</button>
                </div>
            </div>
        </div>
    </div>
</div>
