<div class="container">
    <div class="group">
      <h1 class="heading">Type of Employment</h1>
      <div class="checkbox-group">
        <input type="checkbox" id="checkbox1" checked>
        <label for="checkbox1">Full-Time (3)</label>
        <br>
        <input type="checkbox" id="checkbox2">
        <label for="checkbox2">Part-Time (2)</label>
        <br>
        <input type="checkbox" id="checkbox3">
        <label for="checkbox3">Remote (2)</label>
        <br>
        <input type="checkbox" id="checkbox4">
        <label for="checkbox4">Internship (24)</label>
        <br>
        <input type="checkbox" id="checkbox5">
        <label for="checkbox5">Contract (3)</label>
      </div>
    </div>
  
    <div class="group">
      <h1 class="heading">Categories</h1>
      <div class="checkbox-group">
        <input type="checkbox" id="checkbox6">
        <label for="checkbox6">Design (5)</label>
        <br>
        <input type="checkbox" id="checkbox7">
        <label for="checkbox7">Sales (4)</label>
        <br>
        <input type="checkbox" id="checkbox8">
        <label for="checkbox8">Marketing (4)</label>
        <br>
        <input type="checkbox" id="checkbox9" checked>
        <label for="checkbox9">Business (4)</label>
        <br>
        <input type="checkbox" id="checkbox10">
        <label for="checkbox10">Human Resource (8)</label>
        <br>
        <input type="checkbox" id="checkbox11">
        <label for="checkbox11">Finance (4)</label>
        <br>
        <input type="checkbox" id="checkbox12">
        <label for="checkbox12">Engineering (6)</label>
        <br>
        <input type="checkbox" id="checkbox13">
        <label for="checkbox13">Technology (4)</label>
      </div>
    </div>

    <div class="group">
        <h1 class="heading">job Level</h1>
        <div class="checkbox-group">
          <input type="checkbox" id="checkbox14">
          <label for="checkbox14">Entry Level (57)</label>
          <br>
          <input type="checkbox" id="checkbox15">
          <label for="checkbox15">Mid Level (14)</label>
          <br>
          <input type="checkbox" id="checkbox16">
          <label for="checkbox16">Senior level (4)</label>
          <br>
          <input type="checkbox" id="checkbox17" checked>
          <label for="checkbox17">Director (4)</label>
          <br>
          <input type="checkbox" id="checkbox18">
          <label for="checkbox18">VP or Above (8)</label>
        </div>
      </div>

      <div class="group">
        <h1 class="heading">Salary range</h1>
        <div class="checkbox-group">
          <input type="checkbox" id="checkbox19">
          <label for="checkbox19">$700-$1000 (7)</label>
          <br>
          <input type="checkbox" id="checkbox20">
          <label for="checkbox20">$100-$1500 (6)</label>
          <br>
          <input type="checkbox" id="checkbox21">
          <label for="checkbox21">$1500-$2000 (10)</label>
          <br>
          <input type="checkbox" id="checkbox22" checked>
          <label for="checkbox22">$3000 or above (4) </label>
        </div>
      </div>

  </div>